.tabela-crud {
	border-style: inset;
	width: 100%;
}

.tabela-crud td {
	border-style: inset;
	width: 25%;
	text-align: center;
}

.grid-formulario {
	padding-bottom: 1%;
}

.msg-erro{
	color: red;
}
.msg-info{
	color: blue;
}
.msg-warn{
	color: orange;
}
.sumarioTotal{
	text-align: right;
}