<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >

    <h:head>
		<h:outputStylesheet library="css" name="exemplo-web.css"  />
			<title>
				Sistema bar : 
				<ui:insert name="cabecalho" >Menu principal</ui:insert>
			</title>
    </h:head>
    
    <h:body>
		<h:messages errorClass="msg-erro" infoClass="msg-info" warnClass="msg-warn"/>
		<div id="menu">
			<h:panelGrid columns="7">
				<h:link value="Menu Principal" outcome="index"></h:link>
				<h:link value="Cliente" outcome="cliente"></h:link>
				<h:link value="Garçon" outcome="garcon"></h:link>
				<h:link value="Mesa" outcome="mesa"></h:link>
				<h:link value="Item" outcome="item"></h:link>
				<h:link value="Contas" outcome="conta"></h:link>
				<h:link value="Pedidos" outcome="pedidos"></h:link>
			</h:panelGrid>
		</div>
		
		<div id="page">
		    <div id="corpo">
		  		<ui:insert name="corpo" ><h1>Menu Principal</h1></ui:insert>
	    	</div>
	    	<div id="footer"><ui:insert name="footer" >Nome  do sistema (Versão)</ui:insert></div>
		</div>
    </h:body>
</html>