<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
	  xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    
   	<ui:composition template="templates/template-principal.xhtml">
	    <ui:define name="cabecalho">
			Menu cliente
		</ui:define>
   	<ui:define name="corpo">
   		
   		<h2>Lista de clientes</h2>
    	
    	<h:dataTable value="#{clienteBean.listaItens}" styleClass="tabela-crud" var="cliente"  rendered="#{not empty clienteBean.listaItens}">
    		<h:column>
	    		<f:facet name="header">#</f:facet>
	    		#{cliente.id}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">nome</f:facet>
	    		#{cliente.nome}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">cpf</f:facet>
	    		#{cliente.cpf}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">SubTotal(Em R$)</f:facet>
	    		<h:outputText value="#{cliente.subTotal}">
	    			<f:convertNumber pattern="#0.00" />
	    		</h:outputText>
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">selecionar</f:facet>
	    		<h:form>
		    		<h:commandButton value="Selecionar" type="submit" actionListener="#{clienteBean.selecionarCliente}">
		    			<f:setPropertyActionListener target="#{clienteBean.itemSelecionado}" value="#{cliente}" />
		    		</h:commandButton>
	    		</h:form>
	    	</h:column>
    	</h:dataTable>
 
    	<h2>Cliente  (#{clienteBean.itemSelecionado.id})</h2>
    	<h:form>
    	   <h:message for="clienteCPF" errorClass="msg-erro" infoClass="msg-info" warnClass="msg-warn"/>
    	   
    	   <h:panelGrid columns="2" styleClass="grid-formulario">
	    	   <h:outputText value="Nome" />
	    	   <h:inputText value="#{clienteBean.itemSelecionado.nome}" />
	    	   <h:outputText value="CPF" /> 
	    	   <h:inputText id="clienteCPF" value="#{clienteBean.itemSelecionado.cpf}" >
	    	   		<f:validator validatorId="validatorCPF"/>
	    	   </h:inputText>
    	   </h:panelGrid>
    	   
    	    <h:panelGrid columns="3" styleClass="grid-formulario">
	    	   <h:commandButton value="Salvar" type="submit" actionListener="#{clienteBean.salvar}"></h:commandButton>
	    	   <h:commandButton value="Alterar" type="submit" actionListener="#{clienteBean.alterar}"></h:commandButton>
	    	   <h:commandButton value="Excluir" type="submit" actionListener="#{clienteBean.excluir}"></h:commandButton>
    	   </h:panelGrid>
    	   
    	</h:form>
   	</ui:define>
   
   	<ui:define name="footer"><h:outputText value="#{clienteBean.nomeSistema} (Versão #{clienteBean.versaoSistema})" /></ui:define>
   </ui:composition>

</html>