<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
	  xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    
   	<ui:composition template="templates/template-principal.xhtml">
	    <ui:define name="cabecalho">
			Menu Garçon
		</ui:define>
   	<ui:define name="corpo">
   		
   		<h2>Lista de Contas</h2>
    	
    	<h:dataTable value="#{contaBean.listaItens}" styleClass="tabela-crud" var="conta"  rendered="#{not empty contaBean.listaItens}">
    		<h:column>
	    		<f:facet name="header">#</f:facet>
	    		#{conta.id}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Cliente</f:facet>
	    		#{conta.cliente.nome}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Garcon Responsável</f:facet>
	    		#{conta.garconResponsavel.nome}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Mesa</f:facet>
	    		Mesa #{conta.mesa.numero}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Status</f:facet>
	    		#{conta.pago != null ? conta.pago ? 'Encerrada' : 'Em aberto' : 'Em aberto'}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">SubTotal (Em R$)</f:facet>
	    		<h:outputText value="#{conta.subTotal}">
	    			<f:convertNumber pattern="#0.00" />
	    		</h:outputText> 
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">selecionar</f:facet>
	    		<h:form>
		    		<h:commandButton value="Selecionar" type="submit" actionListener="#{contaBean.selecionarConta}">
		    			<f:setPropertyActionListener target="#{contaBean.itemSelecionado}" value="#{conta}" />
		    		</h:commandButton>
	    		</h:form>
	    	</h:column>
    	</h:dataTable>

		 
    	<h2>Conta  (#{contaBean.itemSelecionado.id})</h2>
    	
    	<h:form>
    	   
    	   <h:panelGrid columns="2" styleClass="grid-formulario">
	    	   <h:outputText value="Cliente" />
	    	   	<h:selectOneMenu value="#{contaBean.itemSelecionado.cliente.id}">
		   			<f:selectItems value="#{clienteBean.listaItens}" var="cliente" itemValue="#{cliente.id}" itemLabel="#{cliente}" />
		   		</h:selectOneMenu>
	    	   <h:outputText value="Garçon Responsável" /> 
	    	   <h:selectOneMenu value="#{contaBean.itemSelecionado.garconResponsavel.id}">
		   			<f:selectItems value="#{garconBean.listaItens}" var="garcon" itemValue="#{garcon.id}" itemLabel="#{garcon}" />
		   		</h:selectOneMenu>
	    	   <h:outputText value="Mesa" />
	    	   <h:selectOneMenu value="#{contaBean.itemSelecionado.mesa.id}">
		   			<f:selectItems value="#{mesaBean.listaItens}" var="mesa" itemValue="#{mesa.id}" itemLabel="#{mesa}" />
		   		</h:selectOneMenu>
		   		
    	   </h:panelGrid>
    	   
    	    <h:panelGrid columns="3" styleClass="grid-formulario">
	    	   <h:commandButton value="Salvar" type="submit" actionListener="#{contaBean.salvar}"></h:commandButton>
	    	   <h:commandButton value="Alterar" type="submit" actionListener="#{contaBean.alterar}"></h:commandButton>
	    	   <h:commandButton value="Excluir" type="submit" actionListener="#{contaBean.excluir}"></h:commandButton>
    	   </h:panelGrid>
    	   
    	</h:form>
   	</ui:define>
	<ui:define name="footer"><h:outputText value="#{contaBean.nomeSistema} (Versão #{contaBean.versaoSistema})" /></ui:define>
   </ui:composition>

</html>