<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
	  xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    
   	<ui:composition template="templates/template-principal.xhtml">
	    <ui:define name="cabecalho">
			Menu Garçon
		</ui:define>
   	<ui:define name="corpo">
   		
   		<h2>Lista de garçons</h2>
    	
    	<h:dataTable value="#{garconBean.listaItens}" styleClass="tabela-crud" var="garcon"  rendered="#{not empty garconBean.listaItens}">
    		<h:column>
	    		<f:facet name="header">#</f:facet>
	    		#{garcon.id}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">nome</f:facet>
	    		#{garcon.nome}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">cpf</f:facet>
	    		#{garcon.cpf}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Contas em aberto</f:facet>
	    		#{garcon.totalContasAtivas}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">selecionar</f:facet>
	    		<h:form>
		    		<h:commandButton value="Selecionar" type="submit" actionListener="#{garconBean.selecionarGarcon}">
		    			<f:setPropertyActionListener target="#{garconBean.itemSelecionado}" value="#{garcon}" />
		    		</h:commandButton>
	    		</h:form>
	    	</h:column>
    	</h:dataTable>

		 
    	<h2>Garçon  (#{garconBean.itemSelecionado.id})</h2>
    	
    	<h:form>
    	   <h:message for="garconCPF" errorClass="msg-erro" infoClass="msg-info" warnClass="msg-warn"/>
    	   
    	   <h:panelGrid columns="2" styleClass="grid-formulario">
	    	   <h:outputText value="Nome" />
	    	   <h:inputText value="#{garconBean.itemSelecionado.nome}" />
	    	   <h:outputText value="CPF" /> 
	    	   <h:inputText id="garconCPF" value="#{garconBean.itemSelecionado.cpf}" >
	    	   		<f:validator validatorId="validatorCPF"/>
	    	   </h:inputText>
    	   </h:panelGrid>
    	   
    	    <h:panelGrid columns="3" styleClass="grid-formulario">
	    	   <h:commandButton value="Salvar" type="submit" actionListener="#{garconBean.salvar}"></h:commandButton>
	    	   <h:commandButton value="Alterar" type="submit" actionListener="#{garconBean.alterar}"></h:commandButton>
	    	   <h:commandButton value="Excluir" type="submit" actionListener="#{garconBean.excluir}"></h:commandButton>
    	   </h:panelGrid>
    	   
    	</h:form>
   	</ui:define>
	<ui:define name="footer"><h:outputText value="#{garconBean.nomeSistema} (Versão #{garconBean.versaoSistema})" /></ui:define>
   </ui:composition>

</html>