<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<ui:composition template="templates/template-principal.xhtml"> 
    	<ui:define name="corpo">   		
   			<h2>Bem vindo ao sistema Bar Esolha uma da opções no menu acima</h2>
		</ui:define>
	</ui:composition>
</html>