<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
	  xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    
   	<ui:composition template="templates/template-principal.xhtml">
	    <ui:define name="cabecalho">
			Menu Item
		</ui:define>
   	<ui:define name="corpo">
   		
   		<h2>Lista de Itens</h2>
    	
    	<h:dataTable value="#{itemBean.listaItens}" styleClass="tabela-crud" var="item"  rendered="#{not empty itemBean.listaItens}">
    		<h:column>
	    		<f:facet name="header">#</f:facet>
	    		#{item.id}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Descrição</f:facet>
	    		#{item.descricao}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Preço</f:facet>
	    		<h:outputText value="#{item.valor}">
	    			<f:convertNumber pattern="#0.00" />
	    		</h:outputText>
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Selecionar</f:facet>
	    		<h:form>
		    		<h:commandButton value="Selecionar" type="submit" actionListener="#{itemBean.selecionarItem}">
		    			<f:setPropertyActionListener target="#{itemBean.itemSelecionado}" value="#{item}" />
		    		</h:commandButton>
	    		</h:form>
	    	</h:column>
    	</h:dataTable>
 
    	<h2>Item (#{itemBean.itemSelecionado.id})</h2>
    	<h:form>
    	   
    	   <h:panelGrid columns="2" styleClass="grid-formulario">
	    	   <h:outputText value="Descrição" />
	    	   <h:inputText value="#{itemBean.itemSelecionado.descricao}" />
	    	   <h:outputText value="Preço (R$)" />
	    	   <h:inputText value="#{itemBean.itemSelecionado.valor}" >
	    	   		<f:convertNumber pattern="#0.00" />
	    	   </h:inputText>
    	   </h:panelGrid>
    	   
    	    <h:panelGrid columns="3" styleClass="grid-formulario">
	    	   <h:commandButton value="Salvar" type="submit" actionListener="#{itemBean.salvar}"></h:commandButton>
	    	   <h:commandButton value="Alterar" type="submit" actionListener="#{itemBean.alterar}"></h:commandButton>
	    	   <h:commandButton value="Excluir" type="submit" actionListener="#{itemBean.excluir}"></h:commandButton>
    	   </h:panelGrid>
    	   
    	</h:form>
   	</ui:define>
   	<ui:define name="footer"><h:outputText value="#{itemBean.nomeSistema} (Versão #{itemBean.versaoSistema})" /></ui:define>
   </ui:composition>

</html>