<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
	  xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    
   	<ui:composition template="templates/template-principal.xhtml">
	    <ui:define name="cabecalho">
			Menu mesa
		</ui:define>
   	<ui:define name="corpo">
   		
   		<h2>Lista de Mesas</h2>
    	
    	<h:dataTable value="#{mesaBean.listaItens}" styleClass="tabela-crud" var="mesa"  rendered="#{not empty mesaBean.listaItens}">
    		<h:column>
	    		<f:facet name="header">#</f:facet>
	    		#{mesa.id}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Número</f:facet>
	    		#{mesa.numero}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Contas em aberto</f:facet>
	    		#{mesa.totalContasAtivas}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">SubTotal (Em R$)</f:facet>
	    		<h:outputText value="#{mesa.subTotal}">
	    			<f:convertNumber pattern="#0.00" />
	    		</h:outputText> 
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">selecionar</f:facet>
	    		<h:form>
		    		<h:commandButton value="Selecionar" type="submit" actionListener="#{mesaBean.selecionarMesa}">
		    			<f:setPropertyActionListener target="#{mesaBean.itemSelecionado}" value="#{mesa}" />
		    		</h:commandButton>
	    		</h:form>
	    	</h:column>
    	</h:dataTable>
 
    	<h2>Mesa  (#{mesaBean.itemSelecionado.id})</h2>
    	<h:form>
    	   
    	   <h:panelGrid columns="2" styleClass="grid-formulario">
	    	   <h:outputText value="Número" />
	    	   <h:inputText value="#{mesaBean.itemSelecionado.numero}" />
    	   </h:panelGrid>
    	   
    	    <h:panelGrid columns="3" styleClass="grid-formulario">
	    	   <h:commandButton value="Salvar" type="submit" actionListener="#{mesaBean.salvar}"></h:commandButton>
	    	   <h:commandButton value="Alterar" type="submit" actionListener="#{mesaBean.alterar}"></h:commandButton>
	    	   <h:commandButton value="Excluir" type="submit" actionListener="#{mesaBean.excluir}"></h:commandButton>
    	   </h:panelGrid>
    	   
    	</h:form>
   	</ui:define>
   	<ui:define name="footer"><h:outputText value="#{mesaBean.nomeSistema} (Versão #{mesaBean.versaoSistema})" /></ui:define>
   </ui:composition>

</html>