<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  
	  xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    
   	<ui:composition template="templates/template-principal.xhtml">
	    <ui:define name="cabecalho">
			Menu Garçon
		</ui:define>
   	<ui:define name="corpo">
   		
   		<h2>Lista de Contas</h2>
    	
    	<h:dataTable value="#{contaBean.listaItens}" styleClass="tabela-crud" var="conta"  rendered="#{not empty contaBean.listaItens}">
    		<h:column>
	    		<f:facet name="header">#</f:facet>
	    		#{conta.id}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Cliente</f:facet>
	    		#{conta.cliente.nome}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Garcon Responsável</f:facet>
	    		#{conta.garconResponsavel.nome}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Mesa</f:facet>
	    		Mesa #{conta.mesa.numero}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">Status</f:facet>
	    		#{conta.pago != null ? conta.pago ? 'Encerrada' : 'Em aberto' : 'Em aberto'}
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">SubTotal (Em R$)</f:facet>
	    		<h:outputText value="#{conta.subTotal}">
	    			<f:convertNumber pattern="#0.00" />
	    		</h:outputText> 
	    	</h:column>
	    	<h:column>
	    		<f:facet name="header">selecionar</f:facet>
	    		<h:form>
		    		<h:commandButton value="Selecionar" type="submit" actionListener="#{itemContaBean.selecionarItemConta}">
		    			<f:setPropertyActionListener target="#{itemContaBean.itemSelecionado.conta}" value="#{conta}" />
		    		</h:commandButton>
	    		</h:form>
	    	</h:column>
    	</h:dataTable>

		 
    	<h2>
    		<h:outputText value="Conta (#{itemContaBean.itemSelecionado.conta.id})" rendered="#{itemContaBean.itemSelecionado.conta.id > 0}" />
   		 	<h:outputText value=" Encerrada" rendered="#{itemContaBean.itemSelecionado.conta.pago}" /> 
    		<h:outputText value="Selecione uma conta" rendered="#{itemContaBean.itemSelecionado.conta.id == 0}" /> </h2>	
    	
    	<h:form rendered="#{itemContaBean.itemSelecionado.conta.id > 0}">
    	   
    	   <h:panelGrid columns="2" styleClass="grid-formulario">
	    	   <h:panelGrid columns="2" styleClass="grid-formulario">
	    	   
		    	   <h:panelGrid columns="2" styleClass="grid-formulario">
			    	   <h:outputText value="Item" />
			    	   
			    	   	<h:selectOneMenu value="#{itemContaBean.itemSelecionado.item.id}">
				   			<f:selectItems value="#{itemBean.listaItens}" var="item" itemValue="#{item.id}" itemLabel="#{ite}" />
				   		</h:selectOneMenu>
			    	   <h:outputText value="Quantidade" />
			    	   <h:inputText value="#{itemContaBean.itemSelecionado.quantidade}">
			    	   		<f:convertNumber integerOnly="true" type="number" />
			    	   </h:inputText>
				   		
		    	   </h:panelGrid>
		    	   
		    	    <h:panelGrid columns="1" styleClass="grid-formulario">
			    	   <h:commandButton value="Adicionar Pedido" disabled="#{itemContaBean.itemSelecionado.conta.pago}" title="#{itemContaBean.itemSelecionado.conta.pago ? 'Conta encerrada' : 'Adicionar pedido'}" type="submit" actionListener="#{itemContaBean.salvar}"></h:commandButton>
		    	   </h:panelGrid>
	    	   </h:panelGrid>
	    	   
	    	   <h:panelGrid columns="1" styleClass="grid-formulario">
   	   			<h2>Pedidos</h2>
	   	   			<h:dataTable value="#{itemContaBean.itemSelecionado.conta.itens}" styleClass="tabela-crud" var="item"  rendered="#{not empty itemContaBean.itemSelecionado.conta.itens}">
			    		<h:column>
				    		<f:facet name="header">Item</f:facet>
				    		#{item.item.descricao}
				    	</h:column>
				    	<h:column>
				    		<f:facet name="header">Quatidade</f:facet>
				    		#{item.quantidade}
				    	</h:column>
				    	<h:column>
				    		<f:facet name="header">Total</f:facet>
				    		<h:outputText value="#{item.valorTotal}">
			    				<f:convertNumber pattern="#0.00" />
	    					</h:outputText>
				    	</h:column>
			    	</h:dataTable>
			    	<h:outputText value="Sub Total #{itemContaBean.itemSelecionado.conta.subTotal}" styleClass="sumarioTotal">
			    		<f:convertNumber pattern="#0.00" />
			    	</h:outputText>
	    	   </h:panelGrid>
    	   </h:panelGrid>
    	   
    	</h:form>
   	</ui:define>
	<ui:define name="footer"><h:outputText value="#{itemContaBean.nomeSistema} (Versão #{itemContaBean.versaoSistema})" /></ui:define>
   </ui:composition>

</html>